* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    overflow-x: hidden;
}

#main {
    margin: 0;
    padding: 0;
}

#main-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    overflow: hidden;
}

#main-header .slider {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
}

#main-header .navbar-fixed {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
}

.brand-logo {
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#e-logo {
    font-weight: 750;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#nav-hide {
    font-weight: 350;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main-header .slider-heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#input-search {
    padding: auto 5px;
}

.section-follow .fa-3x {
    padding: 8px 15px;
}

.section-blog .col {
    margin: auto auto 1rem;
}

.section-about .col {
    padding: 1rem;
}

#footer .folow-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}